@{
    ViewData["Title"] = "Sobre";
    ViewData["Message"] = "Informações do trabalho";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Trabalho final da disciplina Arquitetura de Computação em Nuvens.</p>
