@{
    ViewData["Title"] = "Alunos";
    ViewData["Message"] = "Grupo do trabalho";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Diego Melo<br />
    Paola Froes<br />
    Winner Martins
</address>

